name: flutter_nostr
description: " Full SDK to build scalable Nostr apps - Auth, Feeds, Chat, Search, Relays, Events... "
version: 0.7.4
documentation: https://github.com/anasfik/flutter_nostr
website: https://github.com/anasfik/flutter_nostr
repository: https://github.com/anasfik/flutter_nostr

funding:
  - https://github.com/sponsors/anasfik

topics:
  - nostr
  - sdk
  - web3
  - decentralized
  - app

issue_tracker: https://github.com/anasfik/flutter_nostr/issues
screenshots:
  - description: "Flutter Nostr SDK Overview"
    path: flutter_nostr.png



environment:
  sdk: ^3.8.1
  flutter: ">=1.17.0"

dependencies:
  dart_nostr: ^9.2.2
  equatable: ^2.0.7
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  flutter_linkify: ^6.0.0
  isar: ^3.1.0
  isar_flutter_libs: ^3.1.0+1
  path_provider: ^2.1.5
  shared_preferences: ^2.3.2
  visibility_detector: ^0.4.0+2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  isar_generator: ^3.1.0+1
  build_runner: ^2.4.13
  
  

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:


  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
